body, html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #000;
  height: 100%;
  color: white;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.title span {
  color: #333;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.signin-form h2 {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: #797979;
}

input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #444;
  color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
}

input::placeholder {
  color: #777;
}

.password-wrapper {
  width: 100%;
  position: relative;
}

.signin-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.signin-btn:hover{
  transform: translateY(-2px);
}

