@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: "Montserrat";
  background-color: #000;
  height: 100%;
  color: white;
  box-sizing: border-box;
}

:root {
  --color-ppl-text-primary: #3b3c43;
  --color-ppl-text-white: #fff;
  font-family: 'Montserrat';
}

.insights-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #000;
  font-family: "Inter", sans-serif;
}

.sidebar {
  width: 110px;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  position: relative;
  transition: width 0.01s ease ; 
  overflow: hidden;
  z-index: 20; 
}

.sidebar:hover {
  width: 340px;
  align-items: flex-start;
  padding: 20px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sidebar:hover .logo-img {
  display: none;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
.logo-img {
  width: 40px;
  height: 44px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: color 0.18s ease, transform 0.18s ease;
}

.logo-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  display: none;
  white-space: normal;
  word-wrap: break-word;
  max-width: 280px;
}

.sidebar:hover .logo-text {
  display: block;
}

.logo-text span {
  color: #3b3c43;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ccc;
  cursor: pointer;
  width: 100%;
  justify-content: center;
}

.sidebar:hover .nav li {
  justify-content: flex-start;
}

.nav-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.nav-label {
  display: none;
  font-size: 16px;
  font-weight: 500;
}

.sidebar:hover .nav-label {
  display: inline-block;
}

.nav li.active {
  color: #fff;
}

.logout-btn { 
  background: none;
  color: #717171;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 11px;
  width: auto;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px; 
  z-index: 1000;
}

.sidebar:hover .logout-btn {
  justify-content: flex-start;
}

.logouticon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.logout-text {
  display: none;
}

.sidebar:hover .logout-text {
  display: inline-block;
}

.logout-btn:hover{
  color: white;
}

.main-page {
  flex: 1 1 0%; 
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 0;
  max-height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header h2 {
  font-size: 16px;
  font-weight: bold;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.create-btn {
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  font-style: semibold;
  width: 201px;
  height: 50px;
}

.create-btn:hover{
  background-color: #000;
  color: white;
}

.headerp {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
}

.datap {
  font-weight: 600;
  font-size: 20px;
  color: #717171;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  min-height: 400px;
  position: relative;
  padding-bottom: 60px;
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #777;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.no-data-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0 25px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-modal {
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  gap: 20px;
  background: white;
  color: #000;
  width: 374;
  height: 174;
  top: 363px;
  left: 533px;
  padding: 10px;
  gap: 20px;
  angle: 0 deg;
  opacity: 1;
  font-family: Montserrat;
}

.logout-modal h3 {
  font-size: 20px;
  letter-spacing: 0%;
  font-weight: 600;
  padding: 10px;
  margin: 0;
  gap: 10px;
  font-family: Montserrat;
}

.logout-modal p {
  font-size: 16px;
  color: #3b3c43;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  font-family: Montserrat;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cancel-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #717171;
  padding: 15px 54px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0%;
  font-family: Montserrat;
}

.confirm-logout-btn {
  background: #ffffff;
  color: #000;
  padding: 15px 56px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0%;
  cursor: pointer;
  border: 1px solid black;
  font-family: Montserrat;
}

.cancel-btn:hover {
  background: #f1f1f1;
}

.confirm-logout-btn:hover {
  opacity: 0.8;
}

.create-form-container {
  padding: 30px 50px;
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.create-header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.create-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.go-back-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.go-back-icon:hover {
  background-color: #717171;
}

.create-header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.create-header h2 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

.upload-box-oneimage {
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 30px 40px;
  text-align: center;
  background-color: #fafafa;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

.upload-box-oneimage:hover {
  border-color: #999;
}

.upload-icon {
  width: 48px;
  height: 48px;
  color: #717171;
}

.upload-placeholder-oneimage {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  gap: 12px; 
  cursor: pointer;
  text-align: left; 
}

.upload-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  color: #717171;
  font-weight: 400;
}

.browse-line {
  display: inline;
}

.image-preview-inside-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.preview-image-centered {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.removebuttonmediapreview {
  width: 25px;
  height: 25px;
  background-image: url('../src/assets/removebuttonmediapreview.png');
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.removebuttonmediapreview:hover {
  background-color: #717171;
  background-image: url('../src/assets/removebuttonmediapreviewhover.png');
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form-grid input {
  padding: 20px;
  font-size: 14px;
  background-color: #f1f1f1;
}

.form-grid {
  font-family: Montserrat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.form-grid input {
  font-family: Montserrat;
  padding: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  width: 100%;
}

.description-editor {
  font-family: Montserrat;
  margin-bottom: 30px;
}

.text-editor {
  font-family: Montserrat;
  height: 200px;
}

.ql-toolbar.ql-snow {
    background-color: #f1f1f1 !important;
    border-color: #ccc !important; 
}

.text-editor .ql-container.ql-snow {
    background-color: #f1f1f1 !important;
    border-color: #ccc !important; 
}

.create-form-btn {
  align-self: flex-end;
  margin-top: 30px;
  width:200px;
  height: 50px;
  background: #ffffff;
  color: #000000;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat;
}

.create-form-btn:hover {
  background-color: black;
  color: white;
}

.title-cell {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-table {
  width: 100%;
  margin-top: 0px;
  background: #fff;
  border-collapse: collapse;
}
.news-table th,
.news-table td {
  padding: 10px 16px;
  height: 60px;
}

.news-table td {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  border: none;
  color: black;
  vertical-align: middle;
}

.news-table thead th {
  position: sticky;
  top: 0;
  z-index: 5;
  background: #fff; 
}

.news-table th {
  font-weight: 600;
  font-size: 12px;
  color: #3b3c43;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 16px;
  text-align: left;
  vertical-align: middle;
  height: 45px;
}

.news-table tbody tr {
  background: #fff;
  border-bottom: none;
}

.news-table tbody tr:hover {
  background: #f5f5f5;
}

.actions {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
}

.table-icon-edit,
.table-icon-delete,
.table-icon-schedule {
  width: 60px;
  height: 60px;
  padding: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.table-icon-schedule{
  cursor: default;
}
.table-icon-edit:hover,
.table-icon-delete:hover {
  background: #717171;
}

.search-wrapper {
  position: relative;
  flex: 1; 
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 50px;
  padding: 10px 40px 10px 40px; 
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  background-color: #f8f8f8;
  transition: border 0.2s ease;
}

.search-icon {
  position: absolute;
  top: 13px;
  bottom: 13px;
  left: 13px;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  pointer-events: none;
}

.search-close-icon {
  right: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.search-close-icon:hover {
  background-color: #717171;
  opacity: 1;
}

.textdecor1 {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 14px;
  color: #3b3c43;
}
.textdecor2 {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 12px;
  color: #3b3c43;
}
.textdecor3 {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 12px;
  color: #3b3c43;
  text-decoration: underline;
}
.textdecor4 {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 10px;
  color: #3b3c43;
}

.create-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.description-editor {
  margin-bottom: 20px;
}

.create-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-overlay-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.full-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  display: block;
}

.overlay-close-btn {
  position: absolute;
  top: 0px;
  right: -28px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: rgb(0, 0, 0);
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: 0.2s ease;
}

.date-disabled .MuiOutlinedInput-root {
  border-color: #ccc !important;
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0px;
  padding: 10px 40px;
  z-index: 10;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  height: 60px;
}

.pagination-container button {
  background: transparent;
  border: none;
}

.ql-editor {
  font-family: 'Montserrat' !important;
}

.ql-editor.ql-blank::before {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal !important;
  color: #717171 !important;
}

@media (max-width: 1024px) {
  .main-page {
    padding: 20px 30px;
  }
  
  .news-table th,
  .news-table td {
    padding: 8px 12px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }
  
  .sidebar:hover {
    width: 280px;
  }
  
  .main-page {
    padding: 20px;
  }
  
  .news-table {
    font-size: 14px;
  }
}
